.dashboard {
  width: 98vw;
  margin: auto;
  padding: 30px 0px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.selectTagStyles select {
  height: 40px;
  border: 1px solid rgb(215, 211, 211);
}

.selectTagStyles p {
  text-align: center;
  color: #132f46;
  margin-top: 8px;
}

.deletePopupParent {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.788);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s all ease-in-out;
}

.showDeletePopup {
  opacity: 1;
  visibility: visible;
}

.deletePopup {
  width: 320px;
  background-color: white;
  padding: 30px 20px;
  border-radius: 10px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-align: center;
}

.deletePopup div {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.deletePopup .yesBtn {
  background-color: green;
  color: white;
}

.deletePopup .noBtn {
  background-color: red;
  color: white;
}

.deletePopup div button {
  width: 100px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  opacity: 1;
  transition: 0.3s all ease-in-out;
}

.deletePopup div button:hover {
  opacity: 0.5;
}

.deletePopup .noBtn:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.threeColumnsTable {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  align-items: flex-start;
  justify-content: space-between;
  margin: 50px 0px;
}

.twoColumnsTable {
  display: grid;
  grid-template-columns: repeat(2, 49%);
  align-items: flex-start;
  justify-content: space-between;
  margin: 50px 0px;
}
.sevenColumnsTable {
  display: grid;
  grid-template-columns: repeat(7, 14%);
  align-items: flex-start;
  justify-content: space-between;
  margin: 50px 0px;
}

.twelveColumnsTable {
  display: grid;
  grid-template-columns: repeat(12, 8%);
  align-items: flex-start;
  justify-content: space-between;
  margin: 50px 0px;
}

.eleventhColumnsTable {
  display: grid;
  grid-template-columns: repeat(11, 9%);
  align-items: flex-start;
  justify-content: space-between;
  margin: 50px 0px;
}

.nineColumnsTable {
  display: grid;
  grid-template-columns: repeat(9, 11%);
  align-items: flex-start;
  justify-content: space-between;
  margin: 50px 0px;
}
.fourColumnsTable {
  display: grid;
  grid-template-columns: repeat(4, 24%);
  align-items: flex-start;
  justify-content: space-between;
  margin: 50px 0px;
}

.fiveColumnsTable {
  display: grid;
  grid-template-columns: repeat(5, 19%);
  align-items: flex-start;
  justify-content: space-between;
  margin: 50px 0px;
}
.fourColumnsTable textarea {
  height: 50px !important;
  width: 100% !important;
}

.nineColumnsTable textarea {
  height: 50px !important;
  width: 100% !important;
}

.twelveColumnsTable textarea {
  height: 50px !important;
  width: 100% !important;
  font-size: 11px;
  padding: 5px 5px !important;
}

.twelveColumnsTable input {
  height: 50px !important;
  width: 100% !important;
  font-size: 11px;
  padding: 5px 5px !important;
}

.threeColumnsTable textarea {
  height: 50px !important;
  width: 100% !important;
}

.eleventhColumnsTable textarea {
  height: 50px !important;
  width: 100% !important;
  font-size: 11px;
  padding: 5px 5px !important;
}

.eleventhColumnsTable input {
  height: 50px !important;
  width: 100% !important;
  font-size: 11px;
  padding: 5px 5px !important;
}

.fiveColumnsTable textarea {
  height: 50px !important;
  width: 100% !important;
}

.sevenColumnsTable textarea {
  height: 50px !important;
  width: 100% !important;
}

.twoColumnsTable textarea {
  height: 50px !important;
  width: 100% !important;
}

.faqStartsHeading {
  margin: 40px 0px 20px 5px;
  font-size: 25px;
}

.singleSectionData option {
  font-size: 13px;
}

.singleSectionData select {
  font-size: 13px;
}

.testimonialsVisibility {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 20px;
}

.testimonialsDisclamier {
  color: #132f46;
  font-weight: 600;
  font-size: 13px;
}

.testimonialsVisibility p {
  font-size: 13px;
}

.faqEndHeading {
  margin: 20px 0px 40px 5px;
  font-size: 25px;
}

.paginationButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.paginationButtons button {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  cursor: pointer;
  border: 1px solid #132f46;
  color: #132f46;
  font-size: 15px;
  transition: 0.3s all ease-in-out;
}

.activePageButton {
  background-color: #132f46 !important;
  color: white !important;
  border: 1px solid #132f46;
}

.blogContentTageSelectionArea {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
  overflow-x: scroll;
}

.tagsArea {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 25px;
  overflow-x: auto;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.tagsArea::-webkit-scrollbar {
  display: block !important;
  height: 6px !important;
  background-color: #eeeeee !important;
  border-radius: 10px;
}

.tagsArea::-webkit-scrollbar-thumb {
  background-color: #132f46 !important;
  border-radius: 10px;
}

.tag {
  font-size: 14px;
  flex-shrink: 0;
  border: 1px solid black;
  padding: 5px 25px;
  border-radius: 5px;
  color: white;
  background-color: #132f46;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}

.tagsArea div:disabled {
  opacity: 0.5;
}

.dashboard *:focus {
  outline: none;
}

.shortCodeImage {
  display: block;
  width: 300px;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.copyButton {
  background-color: #132f46;
  color: white;
  padding: 10px 15px;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.precautionLine {
  color: #132f46;
  margin-top: 30px;
  margin-bottom: 15px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  word-spacing: 5px;
  line-height: 1.5;
}

.copyButton:disabled {
  opacity: 0.5;
}

.dashboard input:focus {
  outline: none;
}

.topBar {
  width: 98vw;
  margin: auto;
  background-color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 25px;
}

.grayBg {
  background-color: rgb(241, 241, 241);
  padding: 50px 0px;
}

.leftPanel {
  width: 20.5%;
  padding: 30px 20px;
  background-color: white;
  border-radius: 5px;
  height: 75vh;
  overflow-y: scroll;
  position: relative;
}

.leftPanel::-webkit-scrollbar {
  display: block !important;
  width: 8px;
  background-color: white !important;
  border-radius: 2px;
  position: absolute;
  top: 0;
  right: 0;
}

.leftPanel::-webkit-scrollbar-thumb {
  background-color: #256497 !important;
  border-radius: 2px;
}

.rightPanel {
  width: 78.9%;
  padding: 30px 20px;
  background-color: white;
  border-radius: 5px;
  height: 75vh;
  overflow-y: scroll;
}

.rightPanel::-webkit-scrollbar {
  display: block !important;
  width: 8px;
  background-color: white !important;
  border-radius: 2px;
}

.rightPanel::-webkit-scrollbar-thumb {
  background-color: #256497 !important;
  border-radius: 2px;
}

.logo {
  width: 60px;
}

.topBarSearch {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  height: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(230, 230, 230);
}

@media all and (max-width: 1200px) {
  .topBarSearch {
    width: 40%;
  }
}

@media all and (max-width: 800px) {
  .topBarSearch {
    width: 50%;
  }
}

@media all and (max-width: 600px) {
  .topBarSearch {
    width: 70%;
  }
}

@media all and (max-width: 400px) {
  .topBarSearch {
    width: 60%;
  }

  .searchBtn {
    width: 15%;
    padding: 0px 5px;
  }

  .searchBtn img {
    width: 10px;
    height: 10px;
  }
}

.topBarSearch input {
  width: 80%;
  padding: 10px 15px 2px;
  font-size: 15px;
  border-radius: 5px;
  border: none;
}

.topBarSearch input:focus {
  outline: none;
}

.topBarSearch span {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  width: 150px;
}

.searchBtn {
  width: 40px;
  padding: 10px;
  border-radius: 40px;
  border: none;
  background-image: linear-gradient(to right, #132f46, #5996c8);
  cursor: pointer;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: 0.3s all ease-in-out;
}

.searchBtn2 {
  width: 100px;
  padding: 10px;
  border-radius: 40px;
  border: none;
  background-image: linear-gradient(to right, #132f46, #5996c8);
  cursor: pointer;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: 0.3s all ease-in-out;
  color: white;
  font-size: 12px;
}

.searchBtn:hover {
  opacity: 0.7;
}

.searchBtn2:hover {
  opacity: 0.7;
}

.searchBtn img {
  width: 20px;
  height: 20px;
}

@media all and (max-width: 450px) {
  .topBarSearch span {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    width: 150px;
  }

  .searchBtn {
    width: 30px;
    padding: 2px;
  }

  .searchBtn img {
    width: 15px !important;
    height: 15px !important;
  }

  .searchBtn2 {
    width: 100px;
    padding: 5px;
    font-size: 11px;
  }
}

.userDiv {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.userDiv img {
  width: 50px;
  cursor: pointer;
}

.userDropdown {
  width: 100px;
  position: absolute;
  padding: 10px;
  background-color: white;
  top: 80px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s all ease-in-out;
}

.userDropdown.active {
  top: 60px;
  opacity: 1;
  visibility: visible;
}

.shortLabel {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 14px;
}

.userDropdown p {
  font-size: 15px;
  text-align: center;
  cursor: pointer;
}

.leftPanel div {
  width: 100%;
  padding: 20px 10px;
  border: 1px solid #132f46;
  margin-bottom: 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #132f46;
  font-size: 15px;
  transition: 0.3s all ease-in-out;
  background-color: white;
  cursor: pointer;
}

.leftPanel div.activePage {
  background-color: #132f46;
  border: 1px solid white;
  color: white;
}

.sections {
  width: 100%;
  padding-bottom: 30px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  flex-wrap: wrap;
}

.sections div {
  padding: 10px 25px;
  border: 1px solid #132f46;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #132f46;
  font-size: 15px;
  transition: 0.3s all ease-in-out;
  background-color: white;
  cursor: pointer;
}

.sections div.activeSection {
  background-color: #132f46;
  border: 1px solid white;
  color: white;
}

.singleSectionData {
  width: 100%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
  padding: 15px 20px;
}

.roshiSection {
  position: relative;
}

.singleSectionData input {
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid rgb(232, 232, 232);
}

.singleSectionData textarea {
  width: 100%;
  height: 150px;
  padding: 10px 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid rgb(232, 232, 232);
}

.singleSectionData textarea:hover {
  outline: none;
}

.blogItem {
  width: 100%;
  margin-bottom: 50px;
}

.blogItem h4 {
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: 400;
}

.blogItem .blogImage {
  width: 200px;
  border-radius: 10px;
}

.blogItem .blogImage2 {
  width: 50px;
  border-radius: 10px;
}

.editForm input {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid rgb(236, 236, 236);
  border-radius: 5px;
}

.noBlogsPara {
  font-size: 14px;
}

.editForm textarea {
  width: 100%;
  height: 250px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(236, 236, 236);
}

.editIcons {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 20px;
  margin-bottom: 10px;
  position: fixed;
  bottom: 100px;
  right: 100px;
  z-index: 20;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 20px;
}

.singleBlogOptions {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 20px;
  margin-bottom: 10px;
  margin-top: -50px;
  padding: 20px;
}

.editIcons img {
  width: 17px;
  cursor: pointer;
}

.singleBlogOptions img {
  width: 17px;
  cursor: pointer;
}

.existingImage {
  width: 100%;
  background-size: cover;
  border-radius: 10px;
}

.existingImageSmall {
  width: 150px;
  margin: 20px 0px;
}

.existingImageSmall2 {
  width: 50px;
  margin: 20px 0px;
  display: block;
}

.blueImage {
  padding: 10px;
  background-color: #132f46;
}

/* @media all and (max-width: 1500px) {
  .dashboard {
    width: 95%;
  }

  .topBar {
    width: 95%;
  }
} */

@media all and (max-width: 750px) {
  .dashboard {
    flex-direction: column;
    row-gap: 50px;
  }

  .leftPanel {
    width: 100%;
  }

  .rightPanel {
    width: 100%;
    height: 120vh;
  }

  .editIcons {
    position: relative;
    bottom: 0;
    right: 0;
  }
}
.leftPanel p {
  text-align: center;
}
