.bannerParent {
  background-image: url("../assets/canadaBlue.jpeg");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px 0px;
  padding-top: 150px;
  margin-bottom: 50px;
}
.banner {
  width: 1440px;
  margin: auto;
  text-align: center;
}

.bannerHeading h1 {
  color: #e8c47c;
  font-size: 50px;
}

.bannerHeading p {
  color: #ffffff;
  width: 74%;
  margin: auto;
  font-size: 25px;
  line-height: 1.8;
  padding-top: 60px;
}

.bannerHeadingRotateParent {
  width: 700px;
  margin: auto;
  display: flex;
  text-align: center;
  justify-content: center;
  /* gap: 10px; */
  align-items: center;
  color: white;
  /* margin-top: 150px; */
}

.bannerHeadingRotate {
  transform: rotate(-90deg);
  border-bottom: 1px solid white;
  padding-bottom: 20px;
  font-size: 25px;
}

.bannerHeadingRotatePara p {
  text-align: left;
  padding-bottom: 8px;
  font-size: 28px;
}


.bannerHeadingRotatePara p {
  cursor: pointer;
}

@media (max-width: 1450px) {
  .banner {
    width: 95%;
  }
}

@media (max-width: 1080px) {
  .bannerHeadingRotateParent {
    flex-direction: column;
    text-align: center;
    /* margin-top: 50px; */
    position: relative;
    width: 100%;
  }

  .bannerHeadingRotate {
    transform: none;
    border: none;
    padding-bottom: 0;
    font-size: 24px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  .bannerHeadingRotate::after {
    content: "\25BC";
    font-size: 16px;
    margin-left: 10px;
    transition: transform 0.3s;
  }

  .bannerHeadingRotateParent.active .bannerHeadingRotate::after {
    transform: rotate(180deg);
  }

  .bannerHeadingRotatePara {
    margin-left: 0;
    display: none;
    background-color: #f7f7f7;
    padding: 10px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 10;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding-top: 25px 0px;
  }

  .bannerHeadingRotateParent.active .bannerHeadingRotatePara {
    display: block;
  }

  .bannerHeadingRotatePara p {
    font-size: 18px;
    padding: 10px 0;
    color: #00273f;
    align-items: center;
    text-align: center;
  }
}

/* src/components/GlobalStreamLmia.module.css */

/* src/components/GlobalStreamLmia.module.css */

.container {
  padding: 20px;
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 2.5rem;
  /* color: #00273f; */
}

.mainContent {
  line-height: 1.6;
}

.section {
  margin-bottom: 50px;
}

.section h2 {
  font-size: 2rem;
  color: #00273f;
  margin-bottom: 15px;
}

.section h3 {
  font-size: 1.5rem;
  color: #00273f;
  margin-bottom: 20px;
  margin-top: 50px;
}

.section p,
.section ul,
.section ol {
  margin-bottom: 15px;
  /* list-style-type: none; */
}

.section ul,
.section ol {
  padding-left: 20px;
  /* list-style-type: none; */
}

.section .linkButton {
  background-color: #00273f;
  color: white;
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.section .linkButton:hover {
  background-color: #005bb5;
}

.section li strong {
  color: #00273f;
}

.container h2 {
  color: #00273f;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
}

.header h1 {
  color: #e8c47c;
  margin-top: 20px;
  margin-bottom: 20px;
}

.mainContent {
  text-align: left;
}
.table {
  /* width: 80%; */
  border-collapse: collapse;
  margin: 20px 0;
  /* margin: auto; */
  align-items: left;
  text-align: start;
}

th,
td {
  border: 1px solid #00273f;
  padding: 8px;
  text-align: left;
}

th {
  font-weight: bold;
  color: #00273f;
}

tr:hover {
  background-color: #f1f1f1;
}


.section {
  opacity: 0;
  transform: translateX(-100px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.section.visible {
  opacity: 1;
  transform: translateX(0);
}


.section button {
  display: block;
  margin: auto;
  background-color: #00273f;
  color: white;
  padding: 15px;
  border-radius: 3px;
  margin-top: 20px;
  text-decoration: none;
  cursor: pointer;
  border: none;
}
.section button:hover {
  opacity: 0.9;
  text-decoration: none;
}

.section li{
  margin-top: 12px;
}
/* Globaltable.module.css */

.Globaltable {
  /* width: 100%; */
  border-collapse: collapse; /* Ensures borders between cells are collapsed */
  border: 1px solid #00273f; /* Border color */
  background-color: #ffffff; /* Table background color */
}

.Globaltable th,
.Globaltable td {
  padding: 6px;
  text-align: left;
  border: 1px solid #00273f; /* Border color for cells */
}

.Globaltable th {
  background-color: #f0f0f0; /* Slight background color for header */
  font-weight: bold;
}

.Globaltable tr:nth-child(even) {
  background-color: #f9f9f9; /* Zebra striping for rows */
}

.Globaltable tr:hover {
  background-color: #e6f2ff; /* Light blue hover effect */
}

.Globaltable td br {
  line-height: 1.5; /* Adds spacing between line breaks within a cell */
}


@media (max-width: 400px) {
  .container h2 {
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 30px;
  }

  .header h1 {
    font-size: 26px;
  }
}
.whychooseusLi li{
  margin-top: 8px;
}