/* 
:root {
    --hue: 223;
    --bg: hsl(var(--hue), 10%, 90%);
    --fg: hsl(var(--hue), 10%, 10%);
    --primary: hsl(var(--hue), 90%, 50%);
    --trans-dur: 0.3s;
    --trans-timing: cubic-bezier(0.65, 0, 0.35, 1);
    font-size: calc(14px + (30 - 14) * (100vw - 280px) / (3840 - 280));
  }
  
  .loaderParent {
    width: 100vw;
    height: 100vh;
    background-color: white;
    position: fixed;
    opacity: 1;
    visibility: visible;
    top: 0;
    left: 0;
    z-index: 99;
    display: flex;
    transition: 0.5s all ease-in-out;
  }
  
  .pl {
    margin: auto;
    position: relative;
    width: 8em;
    height: 8em;
  }
  
  .pl::before,
  .pl::after {
    animation: pl-before 2.5s var(--trans-timing) infinite;
    background-color: #132f46;
    content: "";
    display: block;
    position: absolute;
    top: 75%;
    left: 50%;
    width: 25%;
    height: 25%;
    transform-origin: 100% 100%;
  }
  
  .pl::after {
    animation-name: pl-after;
  }
  

  @keyframes pl-before {
    from {
      transform: rotate(0) translate(-100%, -100%) rotate(-90deg);
    }
    20% {
      transform: rotate(0) translate(-100%, -100%) rotate(90deg);
    }
    40% {
      transform: rotate(0) translate(-300%, -100%) rotate(90deg);
    }
    60% {
      transform: rotate(90deg) translate(-300%, -100%) rotate(-90deg);
    }
    80% {
      transform: rotate(90deg) translate(-100%, -100%) rotate(-90deg);
    }
    to {
      transform: rotate(90deg) translate(-100%, 100%) rotate(90deg);
    }
  }
  
  @keyframes pl-after {
    from,
    20% {
      transform: rotate(0) scale(1, 1);
    }
    40% {
      transform: rotate(0) scale(3, 1);
    }
    60% {
      transform: rotate(90deg) scale(3, 1);
    }
    80% {
      transform: rotate(90deg) scale(1, 1);
    }
    to {
      transform: rotate(90deg) scale(1, 1) translate(0, 200%);
    }
  }
   */


   .loaderParent {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white; /* Solid white background */
    z-index: 9999;
    transition: 0.5s all ease-in-out;
  }
  
  .loader {
    animation: bounce 1s infinite alternate;
  }
  
  .logo {
    width: 70px;
    height: auto;
    animation: 3s brightness ease-in-out infinite;
    transition: 0.3s all ease-in-out;
  }

  @keyframes brightness {
    0%{
      opacity: 1;
    }
    50%{
      opacity: 0.7;
    }
    100%{
      opacity: 1;
    }
  }
  
  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-10px);
    }
  }
  
  @media (max-width: 400px) {
    .logo {
      width: 60px;
    }
  }
  