.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.login div {
  width: 350px;
  padding: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
  background-color: white;
  position: relative;
  z-index: 3;
}

.login div h1 {
  text-align: center;
  font-size: 25px;
  margin-bottom: 20px;
}

.login div label {
  text-align: left;
  font-size: 20px;
  display: block;
  margin-bottom: 5px;
}

.login div label:nth-child(3) {
  margin-top: 20px;
}

.login div input {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid rgb(238, 238, 238);
  border-radius: 5px;
}

.login div input:focus {
  outline: none;
}

.login .submitButton {
  display: block;
  margin: auto;
  margin-top: 20px;
  background-color: #132f46;
  color: white;
  border: 1px solid white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.3s all ease-in-out;
  transform: translateY(0);
}

.login .submitButton:hover {
  background-color: #ffffff;
  color: #132f46;
  cursor: pointer;
  transform: translateY(-5px);
  border: 1px solid #132f46;
}