.blogTopSection {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 200px 0px 100px;
  background-image: url("../assets/blog-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}

.blogsTopContentSection {
  width: 1440px;
  color: white;
}

.blogsTopContentSection h1 {
  text-align: center;
  font-size: 50px;
}

.topFlexSection {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.topFlexSection h4 {
  font-weight: 600;
}

.loveneetSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  bottom: -50px;
}

.loveneetImage {
  width: 300px;
}

.loveneetContent {
  width: 70%;
  text-align: left;
}

.loveneetDataFlex {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 10px;
}

.loveneetDataFlex h3 {
  font-size: 50px;
}

.loveneetContent h4 {
  color: white;
}

.blogDescriptionSection div {
  width: 935px;
}

.loveneetDataFlex p {
  position: relative;
  top: 5px;
}

.loveneetDataFlex h5 {
  position: relative;
  top: -7px;
}

.freeAssesmentSection {
  margin-top: 50px;
  text-align: center;
}

.freeAssesmentSection p {
  /* margin-top: -15px; */
  margin-bottom: 20px;
}

.freeAssesmentSection a {
  display: block;
  text-align: center;
  padding: 15px 15px;
  background-color: #132f46;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  border: none;
  font-weight: 600;
  transition: all 0.3s ease;
  animation: pulseAnimation 2s infinite;
}

/* Hover effects */
.freeAssesmentSection a:hover {
  text-decoration: none;
  border-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  animation: bounceAnimation 0.6s ease;
}

@keyframes pulseAnimation {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.05);
    opacity: 0.9;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes bounceAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@media all and (max-width: 1450px) {
  .blogDescriptionSection div {
    width: 65%;
  }
}

@media all and (max-width: 1100px) {
  .blogDescriptionSection div {
    width: 100%;
  }
}

.loveneetContent h4 {
  margin: 20px 0px 30px;
  font-style: italic;
  font-weight: 400;
  font-size: 25px;
}

.loveneetLinks {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 30px;
}

.imageSection {
  padding: 10px 20px;
  border: 1px solid white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.imageSection img {
  width: 100px;
}

.blogsFlexSection {
  width: 1440px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 50px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.blogImgSection {
  width: 65%;
}

.blogImgSection img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.blogSearchSection {
  display: none;
}

.blogSearchSection1 {
  width: 33%;
}

.searchDiv {
  width: 100%;
  border-radius: 40px;
  border: 1px solid rgb(223, 223, 223);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
}

.searchDiv input {
  width: 90%;
  border: none;
  height: 50px;
  font-size: 17px;
}

.searchDiv input:focus {
  outline: none;
}

.searchDiv img {
  width: 17px;
  cursor: pointer;
}

.blogTagsSection {
  width: 100%;
  margin: 20px 0px 1px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  row-gap: 20px;
  flex-wrap: wrap;
}

.blogTagsSection p {
  font-size: 17px;
}

.recentBlogsSection {
  width: 100%;
  margin-top: 30px;
}

.recentBlogsSection h4 {
  color: #132f46;
  /* margin-left: 20px; */
  margin-bottom: 30px;
}

.recentBlog {
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 20px 15px;
  width: 100%;
  display: block;
  background-color: #132f46;
}

.recentBlog:hover {
  text-decoration: none;
}

.recentBlog h3 {
  color: white;
  font-size: 15px;
}

.blogDescriptionSection {
  width: 1440px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 100px;
}

.blogDescriptionSection p {
  font-size: 16px;
  letter-spacing: 0.5px;
}

.blogDescriptionSection * {
  margin: 30px 0px;
}

.blogDescriptionSection h3,
.blogDescriptionSection h4,
.blogDescriptionSection h5,
.blogDescriptionSection h6 {
  margin-bottom: -10px;
}

.blogDescriptionSection h2 {
  margin-bottom: 10px;
}

.blogDescriptionSection ul li,
.blogDescriptionSection ol li {
  margin: 10px 0px;
  display: list-item;
  list-style-type: disc !important;
}

.blogDescriptionSection ul,
.blogDescriptionSection ol {
  margin-left: 40px;
}

.blogDescriptionSection iframe {
  border: none;
  border-radius: 10px;
  width: 100%;
  height: 400px;
}

.blogDescriptionSection p {
  line-height: 1.8;
  letter-spacing: 1px;
  color: rgb(44, 44, 44);
  margin-bottom: 10px;
  margin-top: 20px;
}

.blogDescriptionSection a {
  display: inline !important;
  color: #132f46;
  text-decoration: none;
  font-weight: 600;
}

.blogDescriptionSection strong{
  display: inline !important;
}

@media all and (max-width: 1450px) {
  .blogsTopContentSection {
    width: 95%;
  }
  .blogsFlexSection {
    width: 95%;
  }
  .blogDescriptionSection {
    width: 95%;
  }
}

@media all and (max-width: 1100px) {
  .blogSearchSection1 {
    display: none;
  }
  .blogSearchSection {
    display: block;
    width: 95%;
    margin: auto;
  }
  .blogsFlexSection {
    flex-direction: column;
  }
  .blogImgSection {
    width: 100%;
    align-items: center;
    margin: auto;
  }
  .blogSearchSection1 {
    width: 100%;
    margin: auto;
  }
  .blogSearchSection1 {
    margin-top: 30px;
  }
  .loveneetDataFlex h3 {
    font-size: 35px;
  }
  .loveneetDataFlex p {
    display: none;
  }
  .loveneetContent h4 {
    font-size: 18px;
  }
  .loveneetDataFlex {
    flex-direction: column;
    align-items: flex-start;
  }
  .blogTopSection h1 {
    font-size: 40px;
  }
}
@media all and (max-width: 635px) {
  .loveneetImage {
    width: 200px;
  }
  .loveneetDataFlex h3 {
    font-size: 30px;
  }
  .imageSection {
    padding: 10px 5px;
  }
  .haveAQuestion {
    font-size: 10px;
  }
}

@media all and (max-width: 500px) {
  .loveneetDataFlex h3 {
    font-size: 25px;
  }
  .loveneetContent h4 {
    font-size: 12px;
  }
  .loveneetImage {
    width: 150px;
  }
  .blogsTopContentSection h1 {
    font-size: 30px;
  }
}

@media all and (max-width: 430px) {
  .blogsFlexSection {
    flex-direction: column;
  }
  .blogImgSection {
    width: 100%;
    align-items: center;
    margin: auto;
  }
  .blogSearchSection1 {
    width: 100%;
    /* margin: auto; */
  }
  .blogDescriptionSection p {
    font-size: 12px;
  }
  .recentBlog h3 {
    font-size: 13px;
  }
}

@media all and (max-width: 420px) {
  .loveneetDataFlex h3 {
    font-size: 20px;
  }
  .loveneetDataFlex h5 {
    font-size: 9px;
    font-weight: 300;
  }
  .loveneetContent h4 {
    margin: 5px 5px 10px 5px;
  }
  .imageSection img {
    width: 65px;
  }
}

@media all and (max-width: 370px) {
  .loveneetDataFlex h3 {
    font-size: 18px;
  }
  .loveneetDataFlex h5 {
    font-size: 9px;
    font-weight: 300;
  }
  .loveneetContent h4 {
    margin: 5px 5px 10px 5px;
  }
  .imageSection img {
    width: 60px;
  }
  .blogsTopContentSection h1 {
    font-size: 26px;
  }
}
@media all and (max-width: 350px) {
  .loveneetDataFlex h3 {
    font-size: 16px;
  }
  .loveneetDataFlex h5 {
    font-size: 9px;
    font-weight: 300;
  }
  .loveneetContent h4 {
    margin: 5px 5px 10px 5px;
  }
  .imageSection img {
    width: 60px;
  }
  .loveneetLinks {
    flex-direction: column-reverse;
    align-items: center;
    gap: 10px;
  }
}
