.bannerParent {
  background-image: url("../assets/canadaBlue.jpeg");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px 0px;
  padding-top: 150px;
  margin-bottom: 50px;
}
.banner {
  width: 1440px;
  margin: auto;
  text-align: center;
}

.bannerHeading h1 {
  color: #e8c47c;
  font-size: 50px;
}

.bannerHeading p {
  color: #ffffff;
  width: 74%;
  margin: auto;
  font-size: 25px;
  line-height: 1.8;
  padding-top: 60px;
}

.bannerHeadingRotateParent {
  width: 700px;
  margin: auto;
  display: flex;
  text-align: center;
  justify-content: center;
  /* gap: 10px; */
  align-items: center;
  color: white;
  /* margin-top: 150px; */
}

.bannerHeadingRotate {
  transform: rotate(-90deg);
  border-bottom: 1px solid white;
  padding-bottom: 20px;
  font-size: 25px;
}

.bannerHeadingRotatePara p {
  text-align: left;
  padding-bottom: 8px;
  font-size: 28px;
}


.bannerHeadingRotatePara p {
  cursor: pointer;
}
  
  @media (max-width: 1450px) {
    .banner {
      width: 95%;
    }
  }
  
  @media (max-width: 1080px) {
    .bannerHeadingRotateParent {
      flex-direction: column;
      text-align: center;
      /* margin-top: 50px; */
      position: relative;
      width: 100%;
    }
  
    .bannerHeadingRotate {
      transform: none;
      border: none;
      padding-bottom: 0;
      font-size: 24px;
      text-align: left;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
    }
  
    .bannerHeadingRotate::after {
      content: "\25BC";
      font-size: 16px;
      margin-left: 10px;
      transition: transform 0.3s;
    }
  
    .bannerHeadingRotateParent.active .bannerHeadingRotate::after {
      transform: rotate(180deg);
    }
  
    .bannerHeadingRotatePara {
      margin-left: 0;
      display: none;
      background-color: #f7f7f7;
      padding: 10px;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      z-index: 10;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      padding-top: 25px 0px;
    }
  
    .bannerHeadingRotateParent.active .bannerHeadingRotatePara {
      display: block;
    }
  
    .bannerHeadingRotatePara p {
      font-size: 18px;
      padding: 10px 0;
      color: #00273f;
      align-items: center;
      text-align: center;
    }
  }
  

  .container {
    padding: 20px;
    width: 1440px;
    margin: auto;
    /* align-items: center; */
    text-align: left;
  }
  
  .header {
    text-align: center;
    margin-bottom: 40px;
  }
  
 
  
  /* .container h1, h2, h3 {
    color: #00273f;
  } */
  
 /* .container ul, ol {
    margin-left: 20px;
  }
   */
 .container table {
    width: 100%;
    border-collapse: collapse;
  }
  
 .container table, th, td {
    border: 1px solid #00273f;
  }
  
 .container th, td {
    padding: 5px;
    text-align: left;
  }
  
 .container th {
    background-color: #f4f4f4;
    color: #00273f;
  }
  

  
  @media (max-width:1450px) {
    .container{
      width: 95%;
    }
  }


  .container h2 {
    color: #00273f;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: left;
  }
  
  .header h1{
    color: #e8c47c;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  
  .applicationProcess li{
    margin-bottom: 10px;
  }

  .eligibility h3{
    color: #00273f;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .eligibility li{
    margin-bottom: 10px;
  }
  .eligibility strong{
    color: #333;
  }
  .container strong{
    color: #333;
  }

  .section {
    opacity: 0;
    transform: translateX(-100px);
    transition: opacity 0.8s ease, transform 0.8s ease;
    margin-bottom: 50px;
  }
  
  .section.visible {
    opacity: 1;
    transform: translateX(0);
  }
  
  .section button {
    display: block;
    margin: auto;
    background-color: #00273f;
    color: white;
    padding: 15px;
    border-radius: 3px;
    margin-top: 20px;
    text-decoration: none;
    cursor: pointer;
    border: none;
  }
  .section button:hover {
    opacity: 0.9;
    text-decoration: none;
  }

  .subList li{
    list-style-type: circle;
    margin-left: 30px;
  }
  .BenifitsList li{
    margin-top: 8px;
  }
  /* LegalMinTable.module.css */


.LegalMinTable {
  width: 100%;
  border-collapse: collapse; 
  border: 1px solid #00273f;  
  background-color: #ffffff;  
}

.LegalMinTable th,
.LegalMinTable td {
  padding: 10px;
  text-align: left;
  border: 1px solid #00273f;  
}

.LegalMinTable th {
  background-color: #f0f0f0;  
  font-weight: bold;
}

.LegalMinTable tr:nth-child(even) {
  background-color: #f9f9f9;
}

.LegalMinTable tr:hover {
  background-color: #e6f2ff;  
}


  @media (max-width: 400px) {
    .container h2 {
      font-size: 20px;
      margin-top: 30px;
      margin-bottom: 10px;
    }
  
    .header h1 {
      font-size: 26px;
    }
    .container table {
      width: 300px;
      border-collapse: collapse;
    }
  }
  .whychooseusLi li{
    margin-top: 8px;
  }