.bannerParent {
  background-image: url("../assets/canadaBlue.jpeg");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px 0px;
  padding-top: 150px;
}
.banner {
  width: 1440px;
  margin: auto;
  text-align: center;
}

.bannerHeading h1 {
  color: #e8c47c;
  font-size: 50px;
}

.bannerHeading p {
  color: #ffffff;
  width: 74%;
  margin: auto;
  font-size: 25px;
  line-height: 1.8;
  padding-top: 60px;
}

.bannerHeadingRotateParent {
  width: 700px;
  margin: auto;
  display: flex;
  text-align: center;
  justify-content: center;
  /* gap: 10px; */
  align-items: center;
  color: white;
  /* margin-top: 150px; */
}

.bannerHeadingRotate {
  transform: rotate(-90deg);
  border-bottom: 1px solid white;
  padding-bottom: 20px;
  font-size: 25px;
}

.bannerHeadingRotatePara p {
  text-align: left;
  padding-bottom: 8px;
  font-size: 28px;
}

.bannerHeadingRotatePara p {
  cursor: pointer;
}

@media (max-width: 1080px) {
  .bannerHeadingRotateParent {
    flex-direction: column;
    text-align: center;
    /* margin-top: 50px; */
    position: relative;
    width: 100%;
  }

  .bannerHeadingRotate {
    transform: none;
    border: none;
    padding-bottom: 0;
    font-size: 24px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  .bannerHeadingRotate::after {
    content: "\25BC";
    font-size: 16px;
    margin-left: 10px;
    transition: transform 0.3s;
  }

  .bannerHeadingRotateParent.active .bannerHeadingRotate::after {
    transform: rotate(180deg);
  }

  .bannerHeadingRotatePara {
    margin-left: 0;
    display: none;
    background-color: #f7f7f7;
    padding: 10px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 10;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding-top: 25px 0px;
  }

  .bannerHeadingRotateParent.active .bannerHeadingRotatePara {
    display: block;
  }

  .bannerHeadingRotatePara p {
    font-size: 18px;
    padding: 10px 0;
    color: #00273f;
    align-items: center;
    text-align: center;
  }
}

.container {
  width: 1440px;
  margin: 0 auto;
  padding: 20px;
  text-align: left;
}

/* Header */
.header {
  margin-bottom: 20px;
}

.header h3 {
  font-size: 2.1em;
  margin: 0;
  color: #e8c47c;
  margin-bottom: 20px;
  text-align: center;
}

.header h2 {
  font-size: 1.5em;
  color: #ffffff;
}

/* Sections */
.section {
  margin-top: 50px;
  margin-bottom: 50px;
}

.section h3 {
  font-size: 2em;
  margin-bottom: 10px;
  color: #00273f;
  text-align: left;
}

/* Occupation List */
.occupationList {
  margin-bottom: 20px;
}

.occupationList ol li{
  margin-bottom: 10px;
}

.occupationList h4 {
  font-size: 1.5em;
  margin-bottom: 10px;
}
.sectionPara {
  margin-bottom: 10px;
}

.table {
  /* width: 100%; */
  border-collapse: collapse;
  margin-top: 10px;
}

.table th,
.table td {
  border: 1px solid #00273f;
  padding: 8px;
}

.table th {
  background-color: #f4f4f4;
  color: #00273f;
}

/* Call to Action */
.callToAction {
  text-align: left;
  margin-top: 50px !important;
}

.callToAction ol{
  margin-top: 20px;
}

.callToAction ol ul{
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.button {
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  background-color: #00273f;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px;
  display: block;
  margin: auto;
  margin-top: 30px;
}

.button:hover {
  opacity: 0.9;
  text-decoration: none;
}

/* Testimonials and Why Choose Us */

.occupationList h4 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.occupationList button {
  display: flex !important;
  margin: 0 !important;
  margin-top: 30px !important;
}

.callToAction .button {
  margin-top: 10px;
  margin-bottom: 10px;
}
.callToAction ol {
  margin-top: 10px;
  margin-bottom: 10px;
}

.callToAction h3 {
  color: #333;
}

.section {
  opacity: 0;
  transform: translateX(-100px);
  transition: opacity 0.8s ease, transform 0.8s ease;
  margin-top: 50px !important;
  margin-bottom: 50px !important;
}

.section.visible {
  opacity: 1;
  transform: translateX(0);
}
.whychooseusLi li{
  margin-top: 8px;
}

@media (max-width: 1450px) {
  .banner {
    width: 95%;
  }
  .container {
    width: 95%;
  }
  .occupationList {
    width: 95%;
  }
  .section {
    width: 95%;
    margin: auto;
  }
  .table {
    width: 95%;
  }
}

@media (max-width: 500px) {
  .section h3 {
    font-size: 20px;
    margin-top: 5px;
  }

  .header h1 {
    font-size: 26px;
  }

  .header h2 {
    font-size: 15px;
    margin-top: 10px;
  }
  .occupationList h4 {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .callToAction .button {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .callToAction ol {
    margin-top: 20px;
    margin-bottom: 5px;
  }
}
.whychooseusLi li{
  margin-top: 8px;
}