.privacyContainer {
    width: 1440px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    padding: 100px 0px;
    padding-top: 200px;
  }
  
  .heading {
    font-size: 36px;
    color: #132f46; /* Dark Blue */
    margin-bottom: 50px;
    text-align: center;
  }
  
  .subheading {
    font-size: 24px;
    color: #132f46; /* Dark Blue */
    margin-top: 40px;
    margin-bottom: 10px;
  }
  a {
    color: #132f46;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  @media (max-width: 1455px) {
    .privacyContainer {
      width: 95%;
    }
  }


  .privacyContainer h2:empty {
    display: none;
  }
  
  .privacyContainer p:empty {
    display: none;
  }