.bannerParent {
  background-image: url("../assets/canadaBlue.jpeg");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px 0px;
  padding-top: 150px;
}

.flashingNote{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

.flashingNote h1{
  margin-bottom: 5px;
  color: red;
}

.flashingNote p{
  color: red;
  font-weight: 600;
}

.flashingNote button{
  margin-top: 20px;
  border: 1px solid white;
}

.banner {
  width: 1440px;
  margin: auto;
  text-align: center;
}

.bannerHeading h1 {
  color: #e8c47c;
  font-size: 50px;
}

.bannerHeading p {
  color: #ffffff;
  width: 74%;
  margin: auto;
  font-size: 25px;
  line-height: 1.8;
  padding-top: 60px;
}

.bannerHeadingRotateParent {
  width: 700px;
  margin: auto;
  display: flex;
  text-align: center;
  justify-content: center;
  /* gap: 10px; */
  align-items: center;
  color: white;
  /* margin-top: 150px; */
}

.bannerHeadingRotate {
  transform: rotate(-90deg);
  border-bottom: 1px solid white;
  padding-bottom: 20px;
  font-size: 25px;
}

.bannerHeadingRotatePara p {
  text-align: left;
  padding-bottom: 8px;
  font-size: 28px;
}


.bannerHeadingRotatePara p {
  cursor: pointer;
}

@media (max-width: 1450px) {
  .banner {
    width: 95%;
  }
}

@media (max-width: 1080px) {
  .bannerHeadingRotateParent {
    flex-direction: column;
    text-align: center;
    /* margin-top: 50px; */
    position: relative;
    width: 100%;
  }

  .bannerHeadingRotate {
    transform: none;
    border: none;
    padding-bottom: 0;
    font-size: 24px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  .bannerHeadingRotate::after {
    content: "\25BC";
    font-size: 16px;
    margin-left: 10px;
    transition: transform 0.3s;
  }

  .bannerHeadingRotateParent.active .bannerHeadingRotate::after {
    transform: rotate(180deg);
  }

  .bannerHeadingRotatePara {
    margin-left: 0;
    display: none;
    background-color: #f7f7f7;
    padding: 10px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 10;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding-top: 25px 0px;
  }

  .bannerHeadingRotateParent.active .bannerHeadingRotatePara {
    display: block;
  }

  .bannerHeadingRotatePara p {
    font-size: 18px;
    padding: 10px 0;
    color: #00273f;
    align-items: center;
    text-align: center;
  }
}

/* SDS.module.css */
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;

  text-align: left;
}

.heading {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: left;
}

.intro {
  font-size: 1.2rem;
  margin-bottom: 30px;
  text-align: left;
}

.intro ul{
  margin-left: 40px;
  margin-bottom: 20px;
}

.intro p{
  margin-bottom: 20px;
}

.fasterProcessing,
.eligibility,
.applicationProcess,
.family,
.exclusions,
.applicationSubmission,
.refusalReasons {
  margin-bottom: 40px;
}

.refusalReasons ul{
  margin-left: 40px;
}

.fasterProcessing p{
  margin-bottom: 20px;
}

.fasterProcessing ul{
  margin-left: 40px;
  margin-bottom: 20px;
}

.eligibility p{
  margin-bottom: 20px;
}

.subheading {
  font-size: 1.8rem;
  margin-bottom: 15px;
  /* color: #333; */
  text-align: left;
}

.countryTable,
.fundsTable,
.languageTable {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.countryTable th,
.fundsTable th,
.languageTable th,
.countryTable td,
.fundsTable td,
.languageTable td {
  border: 1px solid #00273f;
  padding: 10px;
  text-align: left;
  align-self: center;
  margin: auto;
}

.countryTable th,
.fundsTable th,
.languageTable th {
  background-color: #f4f4f4;
  margin: auto;
}

.button {
  display: inline-block;
  background-color: #00273f;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1rem;
  display: block;
  margin: auto;
  border: none;
  cursor: pointer;
  margin-top: 30px;
}

.button:hover {
  opacity: 0.9;
  text-decoration: none;
}

.container h2 {
  color: #00273f;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: left;
}

.heading {
  color: #e8c47c;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.applicationProcess h3 {
  margin-top: 20px;
  margin-bottom: 5px;
  /* color: #333; */
}
.countryTable th ,tr{
  text-align: center;
}
.countryTable {
  border-collapse: collapse; 
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.countryTable th, 
.countryTable td {
  text-align: center;
  padding: 8px; /* Optional: for spacing */
  border: 1px solid #00273f; /* Optional: for table border */
}

.family strong{
  color: #333;
  margin-top: 20px;
}

.family p{
  margin-bottom: 20px;
}
.applicationSubmission{
  /* color: #333; */
  margin-top: 20px;
}

.applicationSubmission p{
  margin-bottom: 20px;
  margin-top: 5px;
}


.section {
  opacity: 0;
  transform: translateX(-100px);
  transition: opacity 0.8s ease, transform 0.8s ease;
  margin-top: 50px;
  margin-bottom: 50px;
}

.section.visible {
  opacity: 1;
  transform: translateX(0);
}

.subStillPara {
  margin-top: 12px;
}


@media (max-width: 400px) {
  .container h2 {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .heading {
    font-size: 26px;
  }
}
.whychooseusLi li{
  margin-top: 8px;
}