.bannerParent {
  background-image: url("../assets/canadaBlue.jpeg");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px 0px;
  padding-top: 150px;
  /* margin-bottom: 50px; */
}
.banner {
  width: 1440px;
  margin: auto;
  text-align: center;
}

.bannerHeading h1 {
  color: #e8c47c;
  font-size: 50px;
}

.bannerHeading p {
  color: #ffffff;
  width: 74%;
  margin: auto;
  font-size: 25px;
  line-height: 1.8;
  padding-top: 60px;
}

.bannerHeadingRotateParent {
  width: 700px;
  margin: auto;
  display: flex;
  text-align: center;
  justify-content: center;
  /* gap: 10px; */
  align-items: center;
  color: white;
  /* margin-top: 150px; */
}

.bannerHeadingRotate {
  transform: rotate(-90deg);
  border-bottom: 1px solid white;
  padding-bottom: 20px;
  font-size: 25px;
}

.bannerHeadingRotatePara p {
  text-align: left;
  padding-bottom: 8px;
  font-size: 28px;
}

.bannerHeadingRotatePara p {
  cursor: pointer;
}
  
  @media (max-width: 1450px) {
    .banner {
      width: 95%;
    }
  }
  
  @media (max-width: 1080px) {
    .bannerHeadingRotateParent {
      flex-direction: column;
      text-align: center;
      /* margin-top: 50px; */
      position: relative;
      width: 100%;
    }
  
    .bannerHeadingRotate {
      transform: none;
      border: none;
      padding-bottom: 0;
      font-size: 24px;
      text-align: left;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
    }
  
    .bannerHeadingRotate::after {
      content: "\25BC";
      font-size: 16px;
      margin-left: 10px;
      transition: transform 0.3s;
    }
  
    .bannerHeadingRotateParent.active .bannerHeadingRotate::after {
      transform: rotate(180deg);
    }
  
    .bannerHeadingRotatePara {
      margin-left: 0;
      display: none;
      background-color: #f7f7f7;
      padding: 10px;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      z-index: 10;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      padding-top: 25px 0px;
    }
  
    .bannerHeadingRotateParent.active .bannerHeadingRotatePara {
      display: block;
    }
  
    .bannerHeadingRotatePara p {
      font-size: 18px;
      padding: 10px 0;
      color: #00273f;
      align-items: center;
      text-align: center;
    }
  }


  /* VisitorToStudent.module.css */
.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  .heading {
    font-size: 2.2rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: left;
  }
  
  .intro {
    font-size: 1.1rem;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .benefits {
    margin-bottom: 20px;
  }

  .benefits ul{
    margin-left: 40px;
  }

  .benefits h4{
    text-align: left;
  }
  .refusals h4{
    text-align: left;
  }
  
  .subheading {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #333;
    text-align: left;
  }
  
  .benefitsList {
    list-style-type: disc;
    margin: 0 auto;
    text-align: left;
    padding: 0;
    font-size: 1.1rem;
  }
  .benefitsList li{
    margin-top:8px;
  }
  
  .eligibility {
    margin-bottom: 20px;
  }
  
  .eligibilityList {
    list-style-type: disc;
    margin: 0 auto;
    text-align: left;
    padding: 0;
    font-size: 1.1rem;
  }
  .eligibilityList li{
    margin-top: 8px;
  }
  .eligibilityAdditionalList li{
    margin-top: 8px;
  }
  
  .eligibilityAdditional {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .eligibilityAdditionalList {
    list-style-type: disc;
    margin: 0 auto;
    margin-left: 40px;
    padding: 0;
    font-size: 1.1rem;
    text-align: left;
  }
  
  .applicationProcess {
    margin-bottom: 20px;
    text-align: left;
  }
  
  .processDescription {
    /* font-size: 1.2rem; */
    margin-bottom: 10px;
  }
  
  .processList {
    list-style-type: decimal;
    margin: 0 auto;
    margin-left: 40px;
    padding: 0;
    font-size: 1.1rem;
    text-align: left;
  }
  
  .refusals {
    margin-bottom: 40px;
  }
  
  .refusalList {
    list-style-type: disc;
    margin: 0 auto;
    margin-left: 40px;
    padding: 0;
    font-size: 1.1rem;
    text-align: left;
  }
  
  .callToAction {
    margin-bottom: 20px;
  }
  
  .callToActionText {
    font-size: 1.1rem;
    margin-bottom: 20px;
    text-align: left;
  }
  
  .button {
    display: inline-block;
    background-color: #00273f;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.1rem;
  }
  .button:hover{
    opacity: 0.9;
    text-decoration: none;
  }


  .container h2 {
    color: #00273f;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: left;
  }
  
  .heading {
    color: #e8c47c;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
  }
  .eligibilityAdditional{
    color: #333;
    font-weight: bolder;
    text-align: left;
    margin-top: 30px;
  }

  .section {
    opacity: 0;
    transform: translateX(-100px);
    transition: opacity 0.8s ease, transform 0.8s ease;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .section.visible {
    opacity: 1;
    transform: translateX(0);
  }
  
  .processList li{
    margin-top: 8px;
  }
  .button {
    display: inline-block;
    background-color: #00273f;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .button:hover {
   opacity: 0.9;
   text-decoration: none;
  }

  .refusalList li{
    margin-top: 12px;
  }
  .ImportantPointNoteUl li{
    margin-top: 12px;
  }
  .eligibilityAdditionalList02 li{
    margin-top: 10px;
  }
  .sub_sub_heading{
    margin-bottom: 10px;
  }

  @media (max-width: 400px) {
    .container h2 {
      font-size: 20px;
      margin-top: 30px;
      margin-bottom: 10px;
    }
  
    .heading {
      font-size: 30px;
    }
  }
  .whychooseusLi li{
    margin-top: 8px;
  }