RewriteEngine On
RewriteBase /
RewriteRule ^about-us$ /about-us.html [L]
RewriteRule ^bcpnp-calculator$ /bcpnp-calculator.html [L]
RewriteRule ^federal-skilled$ /federal-skilled.html [L]
RewriteRule ^contact-us$ /contact-us.html [L]
RewriteRule ^express-entry$ /express-entry.html [L]
RewriteRule ^permanent-residency$ /permanent-residency.html [L]
RewriteRule ^blogs$ /blogs.html [L]
RewriteRule ^news$ /news.html [L]
RewriteRule ^category-based$ /category-based.html [L]
RewriteRule ^clb-ilets-calculator$ /clb-ilets-calculator.html [L]
RewriteRule ^previous-draw-history$ /previous-draw-history.html [L]
RewriteRule ^dash/panel/overwrite$ /dash/panel/overwrite.html [L]
RewriteRule ^more-services$ /more-services.html [L]
RewriteRule ^privacy-policy$ /privacy-policy.html [L]
RewriteRule ^terms-&-conditions$ /terms-&-conditions.html [L]
RewriteRule ^skilled-worker-stream$ /skilled-worker-stream.html [L]
RewriteRule ^priorities-program$ /priorities-program.html [L]
RewriteRule ^international-post-graduate-program$ /international-post-graduate-program.html [L]
RewriteRule ^international-graduate-program$ /international-graduate-program.html [L]
RewriteRule ^health-authority-stream$ /health-authority-stream.html [L]
RewriteRule ^healthcare-targeted-draw$ /healthcare-targeted-draw.html [L]
RewriteRule ^entry-level-semi-skilled$ /entry-level-semi-skilled.html [L]
RewriteRule ^bc-pnp$ /bc-pnp.html [L]
RewriteRule ^pnp$ /pnp.html [L]
RewriteRule ^rnip$ /rnip.html [L]
RewriteRule ^agri-food-pilot-program$ /agri-food-pilot-program.html [L]
RewriteRule ^pilot-programs$ /pilot-programs.html [L]
RewriteRule ^transport-occupation-targeted-draw$ /transport-occupation-targeted-draw.html [L]
RewriteRule ^trade-occupation-targeted-draw$ /trade-occupation-targeted-draw.html [L]
RewriteRule ^stem-targeted-draw$ /stem-targeted-draw.html [L]
RewriteRule ^french-targeted-draw$ /french-targeted-draw.html [L]
RewriteRule ^federal-skilled-worker-program$ /federal-skilled-worker-program.html [L]
RewriteRule ^federal-skilled-trades-program$ /federal-skilled-trades-program.html [L]
RewriteRule ^canadian-experience-class$ /canadian-experience-class.html [L]
RewriteRule ^dual-intent-visa$ /dual-intent-visa.html [L]
RewriteRule ^business-visitor-visa$ /business-visitor-visa.html [L]
RewriteRule ^visitor-visa$ /visitor-visa.html [L]
RewriteRule ^temporary-resident$ /temporary-resident.html [L]
RewriteRule ^temporary-resident-permit-draft$ /temporary-resident-permit-draft.html [L]
RewriteRule ^super-visa$ /super-visa.html [L]
RewriteRule ^common-law-partner-temporary$ /common-law-partner-temporary.html [L]
RewriteRule ^common-law-partner-permanent$ /common-law-partner-permanent.html [L]
RewriteRule ^common-law-partner-international$ /common-law-partner-international.html [L]
RewriteRule ^spouse-common-law-sponsership$ /spouse-common-law-sponsership.html [L]
RewriteRule ^restoration-status-draft$ /restoration-status-draft.html [L]
RewriteRule ^spousal-open-work-permit$ /spousal-open-work-permit.html [L]
RewriteRule ^open-work-permit-for-spouse-inland$ /open-work-permit-for-spouse-inland.html [L]
RewriteRule ^flagpoling$ /flagpoling.html [L]
RewriteRule ^extensions-draft$ /extensions-draft.html [L]
RewriteRule ^study-permit-minors$ /study-permit-minors.html [L]
RewriteRule ^sds$ /sds.html [L]
RewriteRule ^non-sds$ /non-sds.html [L]
RewriteRule ^outside-canada$ /outside-canada.html [L]
RewriteRule ^visitor-to-student$ /visitor-to-student.html [L]
RewriteRule ^change-college-program$ /change-college-program.html [L]
RewriteRule ^inside-canada$ /inside-canada.html [L]
RewriteRule ^student-visa$ /student-visa.html [L]
RewriteRule ^parentsgrandparents$ /parentsgrandparents.html [L]
RewriteRule ^orphan$ /orphan.html [L]
RewriteRule ^lonely-canadian$ /lonely-canadian.html [L]
RewriteRule ^humanitarian-compassionate$ /humanitarian-compassionate.html [L]
RewriteRule ^dependent-children$ /dependent-children.html [L]
RewriteRule ^adoption$ /adoption.html [L]
RewriteRule ^family-reunification-sponsorship$ /family-reunification-sponsorship.html [L]
RewriteRule ^pgwp$ /pgwp.html [L]
RewriteRule ^openWork-dependent-children$ /openWork-dependent-children.html [L]
RewriteRule ^open-work-vulnerable-lp$ /open-work-vulnerable-lp.html [L]
RewriteRule ^francophone-mobility-program$ /francophone-mobility-program.html [L]
RewriteRule ^bridging-open-work-permit-lp$ /bridging-open-work-permit-lp.html [L]
RewriteRule ^low-wage-lmia$ /low-wage-lmia.html [L]
RewriteRule ^global-stream-lmia$ /global-stream-lmia.html [L]
RewriteRule ^agriculture-stream-lmia$ /agriculture-stream-lmia.html [L]
RewriteRule ^open-work-permit$ /open-work-permit.html [L]
RewriteRule ^lmia-reviewed$ /lmia-reviewed.html [L]
RewriteRule ^reply-to-pfl-page$ /reply-to-pfl-page.html [L]
RewriteRule ^additional-document$ /additional-document.html [L]
RewriteRule ^reconsideration$ /reconsideration.html [L]
RewriteRule ^citizenship$ /citizenship.html [L]
RewriteRule ^pr-renewal$ /pr-renewal.html [L]
RewriteRule ^work-permit$ /work-permit.html [L]
RewriteRule ^category-based-express$ /category-based-express.html [L]
RewriteRule ^agriculture-agri-food-occupation$ /agriculture-agri-food-occupation.html [L]
RewriteRule ^in-home-caregiver-program-lp$ /in-home-caregiver-program-lp.html [L]
RewriteRule ^pathways-for-caregiver$ /pathways-for-caregiver.html [L]
RewriteRule ^permanent-residence-pathways-caregivers-lp$ /permanent-residence-pathways-caregivers-lp.html [L]
RewriteRule ^booking$ /booking.html [L]
RewriteRule ^spouse-inland$ /spouse-inland.html [L]
RewriteRule ^spouse-outland$ /spouse-outland.html [L]
RewriteRule ^same-sex$ /same-sex.html [L]
RewriteRule ^immigration-tools$ /immigration-tools.html [L]
RewriteRule ^search$ /search.html [L]
RewriteRule ^auth/panel/dash/bright$ /auth/panel/dash/bright.html [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ /index.html [L]